extends layout

block headContent
  link(rel="stylesheet", href="stylesheets/style.css")
  script(src="javascripts/script.js")
  title LiveWire

block content
  #header
    h1 LIVEWIRE
  #chatlist
  //h1= title
  //p Welcome to #{title}
